/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:root {
  --darkGrey: #25272D;
  --midGrey: #5E6472;
  --lightBlue: #AED9E0;
  --lightGreen: #B8F2E6;
  --lightYellow: #FAF3DD;
  --lightPink: #FFA69E;
  --midPink: #FF7C70; }

h1 {
  font-family: 'Pacifico', cursive; }

p, form {
  font-family: 'Poppins', sans-serif; }

.bold {
  font-family: 'Poppins', sans-serif;
  font-weight: bold; }

nav .nav-title {
  font-family: 'Pacifico', cursive;
  font-size: 100px;
  color: var(--lightPink); }

nav ul li a {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: var(--lightGreen);
  text-decoration: none; }

section p {
  font-size: 40px;
  color: var(--darkGrey); }

section span {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  color: var(--midPink); }

nav {
  background-color: var(--midGrey);
  padding: 10px; }
  nav main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center; }
  nav ul {
    padding: 10px 10px 10px 10px;
    display: inline-block;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
  nav ul li {
    border: 2px solid var(--lightYellow);
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: var(--midGrey); }
  nav ul li:hover {
    background-color: var(--darkGrey);
    border: 2px solid var(--midPink); }
  nav img {
    width: 150px;
    height: auto;
    padding: 5px; }

footer {
  background-color: var(--lightGreen); }
  footer ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
  footer img {
    width: 80px;
    height: auto;
    border-radius: 50%;
    border: 3px solid var(--midPink); }
  footer li {
    display: inline-block;
    padding: 5px; }
  footer p {
    padding: 5px 40% 5px 40%; }

.label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.3rem; }

.textarea {
  display: block;
  width: 100%;
  max-width: 900px;
  margin-bottom: 2rem; }

.input {
  display: block;
  width: 100%;
  height: 2.2rem;
  margin-bottom: 2.5rem;
  max-width: 900px; }

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; }

form {
  margin: auto;
  box-sizing: border-box; }

.contactCTA {
  font-size: 3rem;
  margin: 50px auto;
  box-sizing: border-box; }

.legend {
  padding: 30px;
  background-color: var(--lightYellow);
  border: 5px solid var(--darkGrey); }
