/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:root {
  --darkGrey: #25272D;
  --midGrey: #5E6472;
  --lightBlue: #AED9E0;
  --lightGreen: #B8F2E6;
  --lightYellow: #FAF3DD;
  --lightPink: #FFA69E;
  --midPink: #FF7C70; }

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3rem; }

.header {
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  color: var(--midPink);
  box-sizing: border-box;
  margin-left: 3vw;
  margin-right: 3vw;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center; }

p, form {
  font-family: 'Poppins', sans-serif;
  color: var(--darkGrey); }

p.bookIt {
  font-family: 'Poppins', sans-serif;
  font-size: 2vw;
  color: var(--darkGrey);
  text-align: center;
  padding-bottom: 2rem; }

.bold {
  font-family: 'Poppins', sans-serif;
  font-weight: bold; }

p.galleryIntro {
  margin-left: 6vw;
  margin-right: 6vw;
  margin-bottom: 2vw; }

h2.cardCaps {
  opacity: 1;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 2.5vw;
  text-transform: uppercase;
  color: var(--lightPink);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2vw;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start; }

h2.cardCaps:hover {
  opacity: 0;
  cursor: pointer; }

h3.hoverText {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 1.5vw;
  background-color: var(--midPink);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2vw;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start; }

header .nav-title {
  font-family: 'Pacifico', cursive;
  font-size: 100px;
  color: var(--lightPink); }

header ul li a {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: var(--lightGreen);
  text-decoration: none; }

@media screen and (max-width: 768px) {
  header .nav-title {
    font-size: 45px; }
  header ul li a {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: var(--lightGreen);
    text-decoration: none; } }

.legend p {
  font-size: 40px;
  color: var(--darkGrey); }

.legend span {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  color: var(--midPink); }

@media screen and (max-width: 768px) {
  .legend p {
    font-size: 30px; }
  .legend span {
    font-size: 30px; } }

header {
  background-color: var(--midGrey);
  padding: 10px; }
  header .logo-n-title {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center; }
  header ul {
    padding: 10px 10px 10px 10px;
    display: inline-block;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
  header ul li {
    border: 2px solid var(--lightYellow);
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: var(--midGrey); }
  header ul li:hover {
    background-color: var(--darkGrey);
    border: 2px solid var(--midPink); }
  header img {
    width: 150px;
    height: auto;
    padding: 5px; }
  header .nav-title {
    padding: 5%; }
  header #informpacanator {
    color: var(--lightYellow);
    text-align: center; }

@media screen and (max-width: 768px) {
  header img {
    width: 70px;
    height: auto;
    padding: 5px; }
  header ul li {
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px; }
  header ul {
    padding: 10px 10px 10px 10px;
    display: inline-block;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; } }

footer {
  background-color: var(--lightGreen); }
  footer ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
  footer img {
    width: 80px;
    height: auto;
    border-radius: 50%;
    border: 3px solid var(--midPink); }
  footer li {
    display: inline-block;
    padding: 5px; }
  footer p {
    text-align: center; }

.button {
  background-color: var(--lightPink);
  border: 1px solid var(--lightPink);
  border-radius: 3px;
  padding: 1rem;
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 2vw;
  text-decoration: none;
  box-sizing: border-box;
  margin-left: 40vw;
  margin-right: 40vw;
  margin-bottom: 4vw;
  height: 4vw;
  display: flex;
  align-items: center;
  justify-content: center; }

.button:hover {
  background-color: var(--midPink); }

.label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.3rem; }

.textarea {
  display: block;
  width: 100%;
  max-width: 900px;
  margin-bottom: 2rem;
  border-radius: 5px;
  border-width: 3px;
  box-sizing: border-box; }

.input {
  font-family: 'Poppins', sans-serif;
  color: var(--darkGrey);
  display: block;
  width: 100%;
  height: 2.2rem;
  margin-bottom: 2.5rem;
  max-width: 900px;
  border-radius: 5px;
  box-sizing: border-box; }

.contactForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; }

.form {
  margin: auto;
  box-sizing: border-box;
  max-width: 100%;
  padding: 5%; }

.image-gallery {
  box-sizing: border-box;
  margin: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4vw; }

.image-gallery figure img {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover; }

.card {
  text-align: center;
  padding-bottom: 1.5rem; }

.card img {
  width: 100%;
  margin-bottom: 1.5rem; }

.card h3, .card p, .card a {
  margin-bottom: 20px; }

.card-layout {
  margin: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3vw; }

@media screen and (max-width: 768px) {
  .card-layout {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  h2.cardCaps {
    font-size: 2.5rem; }
  h3.hoverText {
    font-size: 3vw;
    padding-bottom: 3rem; }
  p.bookIt {
    font-size: 3vw; }
  a.button {
    font-size: 4vw;
    margin-left: 20vw;
    margin-right: 20vw;
    padding: 6vw; } }

figure {
  position: relative;
  background: black;
  height: 0;
  width: 100%;
  padding-top: 100%;
  cursor: pointer; }

@media screen and (max-width: 768px) {
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 3rem; } }

.hoverOnly {
  opacity: 0; }

.hoverOnly:hover {
  opacity: 1;
  transition: 0.2s; }

figure:hover h2 {
  opacity: 0;
  transition: 0.2s; }

.legend {
  padding: 30px;
  background-color: var(--lightYellow);
  border: 5px solid var(--darkGrey); }

.mySlides {
  display: none; }
