:root {
    // Use darkGrey for text (midGrey doesn't score well on any of the other colours. It also doesn't score well on white unless you use large text.) 
    --darkGrey: #25272D;
    --midGrey: #5E6472;
    --lightBlue: #AED9E0;
    --lightGreen: #B8F2E6;
    --lightYellow: #FAF3DD;
    --lightPink: #FFA69E;
    --midPink: #FF7C70; 
}