.label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.3rem;

    color: var(--darkGrey);
}

.textarea  {
    display: block;
    width: 100%;
    max-width: 900px;
    margin-bottom: 2rem;
    border-radius: 5px;
    border-width: 3px;
    border-color: var(--midPink);
    box-sizing: border-box;

    color: var(--darkGrey);
}

.input  {
    font-family: 'Poppins', sans-serif;
    color: var(--darkGrey);
    
    display: block;
    width: 100%;
    height: 2.2rem;
    margin-bottom: 2.5rem;
    max-width: 900px;

    border-color: var(--midPink);
    border-radius: 5px;
    box-sizing: border-box;
}

.contactForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    box-sizing: border-box;
}

.form {
    margin: auto;
    box-sizing: border-box;

    max-width: 100%;
    padding: 5%;
}

.submit {
    background-color: var(--lightPink);
    border: 1px solid var(--lightPink);
    border-radius: 3px;
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 3vw;
    text-decoration: none;
    box-sizing: border-box;

	display: flex;
	align-items: center;
    justify-content: center;
    
}

.submit:hover {
    background-color: var(--midPink);
    cursor: pointer;
}


// Media Queries
@media screen and (max-width: 800px) {
	.submit {
        font-size: 5vw;
	}
}
