

.image-gallery {
	box-sizing: border-box;
	margin: 4rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 4vw;
	
}

.image-gallery figure img {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.card {
	text-align: center;
    padding-bottom: 1.5rem;
}

.card img {
    width: 100%;
	margin-bottom: 1.5rem;
}

.card h3, .card p, .card a {
	margin-bottom: 20px;
}

.card-layout {
	margin: 4rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 3vw;
}

@media screen and (max-width: 768px) {
	.card-layout {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
    }
    h2.cardCaps {
        font-size: 2.5rem;
    }
    h3.hoverText {
        font-size: 3vw;
        padding-bottom: 3rem;
    }
    p.bookIt {
        font-size: 3vw;
    }
    a.button {
        font-size: 4vw;
        margin-left: 20vw;
        margin-right: 20vw;
        padding: 6vw;
    }
}

figure {
	position: relative;
	background: black;
    height: 0;
    width: 100%;
    padding-top: 100%;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
	.image-gallery {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		margin-bottom: 3rem;
	}
}

.hoverOnly {
    opacity: 0;
}

.hoverOnly:hover {
    opacity: 1;
    transition: 0.2s;
}

figure:hover h2 {
    opacity: 0;
    transition: 0.2s;
}