nav {
    background-color: var(--midGrey);
    // display: flex;
    // flex-flow: row wrap;
    // align-items: center;
            
    ul li {
        padding: 10px;
    }
    img {
        width: 150px;
        height: auto;
        padding: 5px;
    }

};

footer {
    background-color: var(--lightGreen);
    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    };
    img {
        width: 80px;
        height: auto;
        border-radius: 50%;
        padding: 5px;
    }; 
    li {
        display: inline-block;
    };
    p {
        padding: 5px 40% 5px 40%;
    };
};