header {
    background-color: var(--midGrey);
    padding: 10px;
    .logo-n-title {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }
    ul {
        padding: 10px 10px 10px 10px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    ul li {    
        border: 2px solid var(--lightYellow);
        padding: 10px;
        margin: 15px 15px;
        background-color: var(--midGrey);
    }
    ul li:hover {
        background-color: var(--darkGrey);
        border: 2px solid var(--midPink);
    }
    img {
        width: 150px;
        height: auto;
        padding: 5px;
    }

    .nav-title {
        padding: 5%;
    }

    #informpacanator {
        color: var(--lightYellow);
        text-align: center;
    }

};


// Media Queries
@media screen and (max-width: 768px) {
	header {
        img {
            width: 70px;
            height: auto;
            padding: 5px;
        }
        ul li {
            padding: 2px;
            margin: 0 5px;
        }
        ul {
            padding: 10px;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }
    }
};

@media screen and (max-width: 370px) {
    header {

        img {
            display: none;
        }
    }

    header ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header ul li {
        margin: 10px;
        padding: 5%;
    }
}




// FOOTER
footer {
    background-color: var(--lightGreen);
    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    };
    img {
        width: 80px;
        height: auto;
        border-radius: 50%;
        // padding: 5px;
        border: 3px solid var(--midPink);
    }; 
    li {
        display: inline-block;
        padding: 5px;
    };
    p {
        text-align: center;
    }
};