@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap');


h1 {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
}

.header {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    color: var(--midPink);
    box-sizing: border-box;
	margin-left: 3vw;
	margin-right: 3vw;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

p, form {
    font-family: 'Poppins', sans-serif;
    color: var(--darkGrey);
}

.bold {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

p.galleryIntro {
    margin-left: 6vw;
    margin-right: 6vw;
    margin-bottom: 2vw;
}

h2.cardCaps {
    opacity: 1;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2.5vw;
    text-transform: uppercase;
    color: var(--lightPink);
    position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 2vw;
	transition: 0.2s;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}

h2.cardCaps:hover {
    opacity: 0;
    cursor: pointer;
}

h3.hoverText {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.5vw;
    background-color: var(--midPink);
    position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 2vw;
	transition: 0.2s;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}

header {
    .nav-title {
        font-family: 'Pacifico', cursive;
        font-size: 100px;
        color: var(--lightPink);
    }
    ul li a {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        color: var(--lightGreen);
        text-decoration: none;
    }
}

section {
    p {
        font-size: 40px;
        color: var(--darkGrey);
    }
    span {
        font-family: 'Pacifico', cursive;
        font-size: 40px;
    }
}
